.container{
    gap: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
   /* background-color: rgb(232, 229, 228); */
    border-radius: 10px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text h1, .text p {
    padding: 20px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);  
    font-family: 'Roboto', sans-serif;
}

.text h1 {
    font-size: 36px; 
    font-weight: 500; 
}

.text p {
    font-size: 18px;
    font-weight: 400;  
    line-height: 1.6;
}






